<div class="container">
  <h1>Simple Post App</h1>
  <h4>An application using stimulus reflex!</h4>

  <%= render "form" %>

  <div id="timeline">
    <%= render partial: "post", collection: @posts %>
  </div>
</div>